.fd_main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;

.founder_main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .founder_container{
        position: relative;
        width: 300px;
        height: 600px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        overflow: hidden;

        .founder_name{
            position: absolute;
            background-color: rgb(3, 193, 3);
            color: #ffff;
            border-radius: 20%;
            width: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            height: 100px;
            padding: 20px;
            top: 80%;
            left: 8%;
        }

    }

    .company_desc{
        width: 630px;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        background-color: #8C52FE;
        padding: 50px 60px;
        h1{
            font-size: 45px;
            color: #ffff;
        }
        p{
            font-size: 17px;
            line-height: 30px;
            color: #ffff;
            span{
                color: #3CE792;
                cursor: pointer;
            }
        }
        .btn_explore{
            display: flex;
            margin-top: 30px;
            gap: 20px;
            align-items: center;

            
            p{
                font-size: 14px;

                &:hover{
                    cursor: pointer;
                }
            }
        }
    }

    .Cmo_container{
        position: relative;
        width: 300px;
        height: 600px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        overflow: hidden;

        .founder_name{
            position: absolute;
            background-color: rgb(3, 193, 3);
            color: #ffff;
            border-radius: 20%;
            width: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            height: 100px;
            padding: 20px;
            top: 80%;
            left: 8%;
        }

    }
}
}