.title {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 40px;
    margin-left: 80px;
    justify-content: center;

    h1 {
        font-size: 40px;
    }

    p {
        color: #717482;
        font-size: 17px;
        line-height: 30px;
    }

    span {
        font-weight: bold;
    }
}

.all_internships {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}


.btn_browse {
    width: 95%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
}