// .all_internships{
//     display: flex;
//     flex-wrap: wrap;
//     gap: 20px;
// }

.intCard{
    margin-top: 10px;
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
    padding-bottom: 20px;
    &:hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
    .intImage{
        width: 100%;
        height: 250px;
    }

    .card_details{
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
        gap: 20px;
    }
    h1{
        margin: 10px 0px 0px 20px;
        font-size: 28px;
    }

    .intIcons{
        display: flex;
        align-items: center;
        // justify-content: center;
        padding: 7px 10px;
        gap: 35px;
        margin-left: 30px;
        width: 340px;
        border-bottom: 1px solid #e1e1e1;
        p{
            font-size: 22px;
            display: flex;
            gap: 5px;
            align-items: center;
            color: #43A764;
            margin-left: -20px;

            
        }
        span{
            font-family: 'Gilroy';
            font-size: 17px;
            color: #A3A5A1;
        }
        
    }
    
    .btn_apply_div{
        width: 360px;
        display: flex;
        align-items: center;
        justify-content: end;
    }
}